
   
    <div class="home-body">
       <div class="card">

        <div class="card-header">
            <div class="d-flex jcc input-style" (click)="openInputFile()">
                <div class="btn-add">
                    <button mat-fab color="primary" aria-label="button add file csv">
                        <mat-icon>add</mat-icon>
                      </button>
    
                </div>
                <div class="add-label">
                    <span>Añade tus archivos</span>
                    <div class="add-file">O selecciona una carpeta</div>
                </div>
            </div>
            <div class="fileName" *ngIf="uploader.queue[0]">
                {{uploader.queue[0]._file.name}}
            </div>
            <input hidden type="file" id="fileUpload" #file ng2FileSelect [uploader]="uploader" accept=".csv" >
        </div>


        <div class="card-footer">
            <div class="btn-send">
                <button (click)="uploadFile()" class="send">Cargar archivo</button>
            </div>
        </div>

       </div>
          
    </div>
